@import url("./variables.css");

.experiment {
  min-height: 100vh;
  width: 100%;
}

.experiment__header {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #111;
}

.experiment__header :is(span) {
  margin-right: 24px;
  color: white;
  font-weight: 300;
  background-color: #333;
  box-shadow: 0 0 3px 0 var(--pale-pastel-green) inset;
  pointer-events: none;
  padding: 6px 12px;
  border-radius: 4px;
}

.experiment__main {
  width: 800px;
  margin: 128px auto;
}

.function-description {
  margin-bottom: 24px;
}

@media only screen and (max-width: 900px) {
  .experiment__main {
    width: 90%;
  }
}
