@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(./css/variables.css);

body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 24px;
}

h3,
p {
  margin-bottom: 12px;
}

input[type="range"] {
  cursor: pointer;
}

input[type="text"] {
  padding: 8px 12px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  transition: all 200ms ease;
}

input[type="text"]:hover {
  border: 1px solid rgba(81, 203, 238, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

input[type="text"]:focus {
  outline: none;
  border: 1px solid rgba(81, 203, 238, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.btn {
  padding: 8px 20px;
  cursor: pointer;
  outline: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  transition: all 200ms ease;
}

.btn.submit:hover {
  color: whitesmoke;
  background-color: var(--pastel-green);
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.margin-bottom-12 {
  margin-bottom: 12px;
}
